<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\Amer\Desktop\Axsos\python_project\python_project\warehouse_app\static\category.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="row">
            <div class="col-6">
                <a class="navbar-brand" href="#">user-name</a>
            </div>
            <div class="col-6 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            </div>
    
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="#">Dashbord <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Manage users</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
        <div class="container mt-6">
            <h2>Category</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                </thead>
                <tbody>
                <tr>
                    <td>Category 1 <button class="btn btn-primary" style="margin-left: 30px;">Delete</button></td>
                    <td><select class="form-control">
                        <option value="edit">Add item</option>
                    </select></td>
                    <td><button class="btn btn-primary">Confirm</button></td> 
                </tr>
                <tr>
                    <td>Category 1 <button class="btn btn-primary" style="margin-left: 30px;">Delete</button></td>
                    <td><select class="form-control">
                        <option value="edit">Add item</option>
                    </select></td>
                    <td><button class="btn btn-primary">Confirm</button></td> 
                </tr>
            </table>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Category Name</h5>
                                <p class="card-text">back-end</p>
                                <td><button class="btn btn-primary" style="margin-left: px;margin-top: -80px;">Add Category</button></td> 
                            </div>
                            
                        </div>
                        
                    </div>

            
</body>
</html>